.product-grid{
  background-color:white;
}

.product-img{
  padding:0.5cm;
}

.product-grid:hover{
  background-color: #e0e0eb;
}

.img-rounded {
    border-radius: 20px !important;
    padding:5px !important;
}

.donation{
  font-size:10px;
  color:grey;
}
