.product-grid{
  background-color:white;
}

.product-img{
  padding:0.5cm;
}

.product-grid:hover{
  background-color: #e0e0eb;
}

.img-rounded {
    border-radius: 20px !important;
    padding:5px !important;
}

.donation{
  font-size:10px;
  color:grey;
}

.location{
  color: #009F56;
  font-weight: bold;
}
.prod-title{
  font-weight:bold;
}
.g1{
  object-fit:scale-down;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s; /* Animation */

}
.brandimg{
  height:30px;
  margin-right:5px;
}

.storyimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  transition: transform .2s; /* Animation */

}

.storyimg2{
  height:500px;
  transition: transform .2s; /* Animation */

}
.appstore{
  height:120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s; /* Animation */

}
.lendbutton{
  background-color:#009F56;
  color:white;
  padding:10px;
  transition: transform .2s; /* Animation */
  font-size:20px;
  text-decoration: bold;

}
.lendbutton:hover,.appstore:hover,.storyimg2:hover ,.g1:hover ,.faicon:hover{
  transform: scale(1.1) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.faicon{
  transition: transform .2s; /* Animation */
}
@media only screen and (max-width: 600px) {
  /* put your css styles in here */
  .owl-carousel-fullwidth, .item, .owl-carousel-fullwidth, .fh5co-owl-text-wrap{
    height:500px !important;
  }
}
