#header{
  top:0 !important;
  background-color:rgba(0, 0, 0, 0.3) !important;
}

.slide2{
  background-position: center -150px !important;

}
.slide{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
article h2{
  font-size: 5rem !important;
}

.button{
  background-color:transparent !important;
  border: 1px solid white;
  transition: all .2s ease-in-out;
  margin-top:15px;
}

.button:hover{
  transform: scale(1.1);
}

.icons{
  margin:10px;
}
.links:hover{
  color:grey !important;
}
.col-md-3{
  max-width:33% !important;

}
.minibox{
  border:1px solid silver;
  border-radius:10px;
  color:#20124D;
  font-size:25px;
  height:220px;
  padding:20px;
}
.minibox h2{
  font-size:20px;
}
.minibox p{
  font-size: 14px;
  margin-top:10px;
  text-align:left;
}
.row{
  margin: 0 0 0 0 !important;;
}
.v-step__arrow[data-v-aa0cbe42]{
  border-color:#3AAFA9 !important;
  border-style: solid !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.v-step[data-v-aa0cbe42]{
  background-color:#3AAFA9 !important;
  font-size:1rem !important;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
.v-step__button[data-v-aa0cbe42] {
    color: #fff !important;
    font-size: 1rem !important;
}
.v-step__button[data-v-aa0cbe42]:hover{
  color:black !important;
  webkit-transition: all .2s ease !important;
}
